<h1 class="mt-3 mb-4"><%= (t 'tasks.index.title', artifact: @artifact.name, model: @artifact.model) %></h1>

<div class="pt-3">
  <div class="row">
    <div class="col">
      <a class="btn btn-outline-info mb-5" href="<%= new_artifact_task_path %>">
        <i class="fas fa-plus fa-lg"></i>
        <span class="ml-1"><%= t 'tasks.index.new' %></span>
      </a>
    </div>

    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col pr-5 mr-5">
      <form class="form-inline mr-2" action="<%= artifact_tasks_path(@artifact) %>">
        <div class="form-group">
          <input class="form-control" type="text" name="q" id="q" placeholder="Filtrar">

          <button type="submit" class="btn btn-info" title="Filtrar">
            <i class="fas fa-filter"></i>
          </button>

          <clear-filter-button></clear-filter-button>
        </div>
      </form>
    </div>
  </div>
</div>

<% if @tasks.empty? %>
  <div class="text-center text-muted">
    <i class="fas fa-tasks fa-5x mt-5"></i>
    <p class="mt-3"><%= t 'tasks.index.empty' %></p>
  </div>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color:rgba(128, 128, 128, 0.3)">
        <th scope="col"> <div class="text-center"> <%= sort_tasks_by_id %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= sort_tasks_by_name %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= sort_tasks_by_cost %> </div> </th>
        <th scope="col" colspan="4"> <div class="text-center"> <%= t 'view.index.actions' %> </div> </th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr align="center">
          <td> <div class="text-center"> <%= task.id %> </div> </td>
          <td> <div class="text-center"> <%= link_to task.name, edit_task_path(id: task.id) %> </div> </td>
          <td> <div class="text-center"> <%= number_to_currency(task.cost) %> </div> </td>

          <td style="border-left:0;  border-right:0;width: 8%;">
            <a class="btn btn-outline-warning" title="Editar" href="<%= edit_task_path(id: task.id) %>">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </td>

          <td style="border-left:0; width: 8%;">
            <delete-button
              url="<%= task_path(id: task.id) %>"
              title="<%= t 'tasks.actions.delete.title' %>"
              text="<%= t 'tasks.actions.delete.text', name: task.name %>"
              type="question"
              confirm-button="<%= t 'tasks.actions.delete.confirm' %>"
              cancel-button="<%= t 'tasks.actions.delete.cancel' %>"
            >
            </delete-button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @tasks, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-md justify-content-center' %>
<% end %>

