<%= form_with(model: [@artifact, piece], local: true) do |form| %>
  <% if piece.errors.any? %>
    <div class="ml-3">
      <ul class="text-danger font-weight-bold">
        <% piece.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :artifact_id %>

  <div class="row border mr-3 ml-3 mb-4 pt-4 pb-4">
    <div class="container ">
      <div class="form-group">
        <div><%= form.label :name %> (*)</div>
        <div><%= form.text_field :name, class:"form-control" %></div>
      </div>

      <div class="form-group">
        <div><%= form.label :cost %> (*)</div>
        <div><%= form.text_field :cost, class:"form-control col-md-3" %></div>
      </div>

      <div class="form-group">
        <div><%= form.label :description %></div>
        <div><%= form.text_area :description, rows:"4", style:"resize:none", class:"form-control" %></div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-info" type="submit">
      <i class="fas fa-save"></i> <span> <%= (t 'pieces_form.submit') %> </span>
    </button>

    <button class="btn btn-outline-secondary" type="button" @click.prevent="goBack">
      <i class="fas fa-arrow-left"></i> <%= (t 'pieces_form.cancel')%>
    </button>
  </div>
<% end %>
