<h1 class="mt-3 mb-4"><%= (t 'pieces.index.title', artifact: @artifact.name, model: @artifact.model) %></h1>

<a class="btn btn-outline-info mb-5" href="<%= new_artifact_piece_path %>">
  <i class="fas fa-plus fa-lg"></i>
  <span class="ml-1"><%= t 'pieces.index.new' %></span>
</a>

<% if @pieces.empty? %>
  <div class="text-center text-muted">
    <i class="fas fa-cogs fa-5x mt-5"></i>
    <p class="mt-3"><%= t 'pieces.index.empty' %></p>
  </div>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color:rgba(128, 128, 128, 0.3)">
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.piece.id' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.piece.name' %> </div> </th>
        <th scope="col" colspan="4"> <div class="text-center"> <%= t 'view.index.actions' %> </div> </th>
      </tr>
    </thead>

    <tbody>
      <% @pieces.each do |piece| %>
        <tr align="center">
          <td> <div class="text-center"> <%= piece.id %> </div> </td>
          <td> <div class="text-center"> <%= link_to piece.name, edit_artifact_piece_path(artifact_id: piece.artifact_id, id: piece.id) %> </div> </td>

          <td style="border-left:0;  border-right:0;width: 8%;">
            <a class="btn btn-outline-warning" title="Editar" href="<%= edit_artifact_piece_path(artifact_id: piece.artifact_id, id: piece.id) %>">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </td>

          <td style="border-left:0; width: 8%;">
            <delete-button
              url="<%= artifact_piece_path(artifact_id: piece.artifact_id, id: piece.id) %>"
              title="<%= t 'pieces.actions.delete.title' %>"
              text="<%= t 'pieces.actions.delete.text', name: piece.name %>"
              type="question"
              confirm-button="<%= t 'pieces.actions.delete.confirm' %>"
              cancel-button="<%= t 'pieces.actions.delete.cancel' %>"
            >
            </delete-button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @pieces, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-md justify-content-center' %>
<% end %>