<customer-form
  data-customer="<%= @customer.to_json %>"
  data-artifact-id="<%= params[:artifact_id] || '' %>"
  data-errors="<%= @customer.errors.to_json %>"
  customers-url="<%= customers_url %>"
  repairs-url="<%= new_repair_url %>"
  go-to-repair="<%= params[:go_to_repair] %>"
  inline-template
>
  <div v-if="customer">
    <div class="row border mr-3 ml-3 mb-5 pt-4 pb-5">
      <div class="col-6 container">
        <div class="form-group">
          <label class="col-form-label" for="customer_surname"> <%= (t 'customers_form.surname_field') %> (*) </label>
          <input v-model="customer.surname" class="form-control" type="text" @input="clearError('surname')">
          <small v-if="hasError('surname')" class="font-weight-bold text-danger" v-text="error('surname')"></small>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="customer_name"> <%= (t 'customers_form.name_field') %> (*) </label>
          <input v-model="customer.name" class="form-control" type="text" @input="clearError('name')">
          <small v-if="hasError('name')" class="font-weight-bold text-danger" v-text="error('name')"></small>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="customer_phone"> <%= (t 'customers_form.phone_field') %> (*) </label>
          <input v-model="customer.phone" class="form-control" type="text" @input="onPhoneInput">
          <small v-if="hasError('phone')" class="font-weight-bold text-danger" v-text="error('phone')"></small>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="customer_email"> <%= (t 'customers_form.email_field') %> (*) </label>
          <input v-model="customer.email" class="form-control" type="text" @input="clearError('email')">
          <small v-if="hasError('email')" class="font-weight-bold text-danger" v-text="error('email')"></small>
        </div>

        <span> (*) Datos obligatorios. </span>
      </div>

      <div class="col-6 container">
        <div class="form-group">
          <label class="col-form-label" for="customer_notes"> <%= (t 'customers_form.notes_field') %> </label>
          <textarea v-model="customer.notes" class="form-control" rows="6" style="resize: none;"></textarea>
          <small v-if="hasError('notes')" class="font-weight-bold text-danger" v-text="error('notes')"></small>
        </div>

        <div class="actions pt-4" style="text-align: center">
          <button class="btn btn-info" type="submit" @click="submit">
            <i class="fas fa-save"></i> <span> <%= (t 'customers_form.submit') %> </span>
          </button>

          <button class="btn btn-outline-secondary" type="button" @click.prevent="goBack">
            <i class="fas fa-arrow-left"></i> <%= (t 'customers_form.cancel') %>
          </button>
        </div>
      </div>
    </div>
  </div>
</customer-form>