<h3 class="ml-3 mt-4"><%= (t 'customers.show.title_r') %> <%= link_to @customer.name, edit_customer_path(@customer) %></h3>

<a class="btn btn-outline-info ml-3 mb-4 mt-3" href="<%= new_repair_path(customer_id: @customer) %>">
  <i class="fas fa-user-plus"></i>

  <span class="ml-1"> <%= t 'customers.show.new_r' %> </span>
</a>

<% if @repairs.empty? %>
  <div class="text-center text-muted">
    <i class="fas fa-sad-tear fa-5x mt-5"></i>

    <p class="mt-3"> <%= t 'customers.show.empty_r' %> </p>
  </div>
<% else %>
  <table class="table table-bordered ml-3">
    <thead>
      <tr style="background-color:rgba(128, 128, 128, 0.3)">
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.reparacion.codigo' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.reparacion.artefacto' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.reparacion.estado' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'view.index.actions' %> </div> </th>
      </tr>
    </thead>

    <tbody>
      <% @repairs.each do |repair| %>
        <tr align="center">
          <td> <div class="text-center"> <%= repair.code %> </div> </td>
          <td> <div class="text-center"> <%= repair.artifact.name %> </div> </td>
          <td> <div class="text-center" style="color: #ff6c00"><b> PENDIENTE</b> </div> </td>
          <td>
            <a class="btn btn-outline-warning" href="<%= edit_repair_path(repair) %>">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @repairs, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-md justify-content-center' %>
<% end %>