  <%= form_with(model: @customer, local: true) do |form| %>

  <div class="row border mr-3 ml-3 mb-5 pt-4 pb-5">
    <div class="col-6 container ">
    <div class="form-group">
      <div><%= form.label :surname %></div>
      <div><%= form.text_field :surname, class:"form-control", disabled:"false" %></div>
    </div>

    <div class="form-group">
      <div><%= form.label :name %></div>
      <div><%= form.text_field :name, class:"form-control", disabled:"false" %></div>
    </div>

    <div class="form-group">
      <div><%= form.label :phone %></div>
      <div><%= form.text_field :phone, class:"form-control", disabled:"false" %></div>
    </div>

    <div class="form-group">
      <div><%= form.label :email %></div>
      <div><%= form.text_field :email, class:"form-control", disabled:"false" %></div>
    </div>
  </div>

  <div class="col-6 container">
    <div class="form-group">
        <div><%= form.label :notes %></div>
        <div><%= form.text_area :notes, rows:"6", style:"resize:none", class:"form-control", disabled:"false" %></div>
    </div>

    <div class="actions pt-4" style="text-align: center">

        <a href="<%= edit_customer_path(@customer)%>" class="btn btn-info mr-2">
          <i class="fas fa-edit"></i> <%= (t 'customers.show.edit_c')%>
        </a>

        <a href="<%= customers_path%>" class="btn btn-outline-secondary">
          <i class="fas fa-times"></i> <%= (t 'customers.show.back_c')%>
        </a>
    </div>
  </div>
</div>
<% end %>

<h3 class="mt-3 mb-4"><%= (t 'customers.show.title_r') %></h3>

<a class="btn btn-outline-info mb-5" href="<%= new_repair_path %>">
  <i class="fas fa-user-plus"></i>
  <span class="ml-1"><%= t 'customers.show.new_r' %></span>
</a>

<% if @repairs.empty? %>
  <div class="text-center text-muted">
    <i class="fas fa-sad-tear fa-5x mt-5"></i>
    <p class="mt-3"><%= t 'customers.show.empty_r' %></p>
  </div>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color:rgba(128, 128, 128, 0.3)">
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.reparacion.codigo' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.reparacion.artefacto' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.reparacion.estado' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'view.index.actions' %> </div> </th>
      </tr>
    </thead>

    <tbody>
      <% @repairs.each do |repair| %>
        <tr align="center">
          <td> <div class="text-center"> <%= repair.code %> </div> </td>
          <td> <div class="text-center"> <%= repair.artifact.name %> </div> </td>
          <td> <div class="text-center"> 'Pendiente' </div> </td>
          <td>
            <a class="btn btn-outline" url="#">
              <i class="fas fa-plus-circle"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @repairs, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-md justify-content-center' %>
<% end %>