<artifact-form
  data-artifact="<%= @artifact.to_json %>"
  data-customer-id="<%= params[:customer_id] || '' %>"
  data-errors="<%= @artifact.errors.to_json %>"
  artifacts-url="<%= artifacts_url %>"
  repairs-url="<%= new_repair_url %>"
  go-to-repair="<%= params[:go_to_repair] %>"
  inline-template
>
  <div v-if="artifact">
    <div class="row border mr-3 ml-3 mb-4 pt-4 pb-4">
      <div class="col-6 container">
        <div class="form-group">
          <label class="col-form-label" for="artifact_name"> <%= (t 'artifacts_form.name_field') %> (*) </label>
          <input v-model="artifact.name" class="form-control" type="text" @input="clearError('name')">
          <small v-if="hasError('name')" class="font-weight-bold text-danger" v-text="error('name')"></small>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="artifact_model"> <%= (t 'artifacts_form.model_field') %> (*) </label>
          <input v-model="artifact.model" class="form-control" type="text" @input="clearError('model')">
          <small v-if="hasError('model')" class="font-weight-bold text-danger" v-text="error('model')"></small>
        </div>

        <span> (*) Datos obligatorios. </span>
      </div>

      <div class="col-6 container">
        <div class="form-group">
          <label class="col-form-label" for="artifact_description"> <%= (t 'artifacts_form.description_field') %> </label>
          <textarea v-model="artifact.description" class="form-control" rows="6" style="resize: none;"></textarea>
          <small v-if="hasError('description')" class="font-weight-bold text-danger" v-text="error('description')"></small>
        </div>

        <div class="text-center>>
          <button class="btn btn-info" type="submit" @click="submit">
            <i class="fas fa-save"></i> <span> <%= (t 'artifacts_form.submit') %> </span>
          </button>

          <button class="btn btn-outline-secondary" type="button" @click.prevent="goBack">
            <i class="fas fa-arrow-left"></i> <%= (t 'artifacts_form.cancel') %>
          </button>
        </div>
      </div>
    </div>
  </div>
</artifact-form>

