<repair-form data-selected-customer="<%= @selected_customer || '' %>" data-repair="<%= @repair.to_json %>" data-errors="<%= @repair.errors.to_json %>" url="<%= repairs_path %>" inline-template>
  <div v-if="repair">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="repair_customer_id"> <%= (t 'repairs_form.customer_field') %> </label>
      <div class="col-sm-5">
        <v-select v-model="repair.customer" :options="<%= @customers %>" @input="clearError('customer')"></v-select>
        <small v-if="hasError('customer')" class="font-weight-bold text-danger" v-text="error('customer')"></small>
      </div>

      <a class="btn btn-outline-info mb-2 pt-3" href="<%= new_customer_path(go_to_repair: true) %>">
        <i class="fas fa-user-plus fa-lg"></i>
      </a>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="repair_artifact_id"> <%= (t 'repairs_form.artifact_field') %> </label>
      <div class="col-sm-5">
        <v-select v-model="repair.artifact" :options="<%= @artifacts %>" @input="clearError('artifact')"></v-select>
        <small v-if="hasError('artifact')" class="font-weight-bold text-danger" v-text="error('artifact')"></small>
      </div>
      <a class="btn btn-outline-info mb-2 pt-3 pr-3 pl-3" href="<%= new_artifact_path(go_to_repair: true) %>">
        <i class="fas fa-plug fa-lg"></i>
      </a>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label mt-3" for="repair_estimated_days"> <%= (t 'repairs_form.estimated_days_field') %> </label>
      <div class="col-sm-2">
        <input v-model="repair.estimated_days" class="form-control mt-3" type="number" min="1" @input="clearError('estimated_days')">
        <small v-if="hasError('estimated_days')" class="font-weight-bold text-danger" v-text="error('estimated_days')"></small>
      </div>
    </div>

    <div class="text-center mr-5 pr-5 mt-5">
      <button class="btn btn-info mr-2" type="submit" @click="submit">
        <i class="fas fa-save"></i> <span> <%= (t 'repairs_form.submit') %> </span>
        
      </button>

      <a class="btn btn-outline-secondary" href="<%= customers_path %>">
        <i class="fas fa-times"></i> <span> <%= (t 'repairs_form.cancel') %> </span>
        
      </a>
    </div>
  </div>
</repair-form>
