<h1 class="text-center mt-5">
  <%= t 'repairs.show.repair_successfuly_saved', artifact: @artifact.name, model: @artifact.model %>
</h1>
<h4 class="text-center font-weight-bold mt-5" > <%= t 'repairs.show.customer_code', customer: @repair.customer.name %> </h4>
<h1 class="text-center font-weight-bold mt-4" style="color: grey;"> <%= @repair.code %> </h1>
<hr>
<h4 class="text-center font-weight-bold mt-4" > <%= t 'repairs.show.customer_code_remainder' %> </h4>

<div class="row mt-4">
  <div class="col-4 ml-2"></div>

  <send-mail-button></send-mail-button>

  <a class="m-2 btn btn-outline-info" href="#!">
    <i class="fas fa-print"></i>
    <span class="ml-1"><%= t 'repairs.show.print' %></span>
  </a>
</div>

<hr>

<div class="text-center mt-5 mb-3">
  <a class="btn btn-outline-dark" href="<%= root_path %>">
     <i class="fas fa-check-circle"></i>
     <span> <%= (t 'repairs.show.exit') %> </span>
  </a>
</div>