<% if @repairs.empty? %>
  <div class="text-center text-muted">
    <i class="fas fa-plug fa-5x mt-5"></i>
    <p class="mt-3"><%= t 'repairs.index.empty' %></p>
  </div>
<% else %>
  <table class="mt-5 table table-bordered">
    <thead>
      <tr style="background-color:rgba(128, 128, 128, 0.3)">
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.repair.code' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.repair.customer' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.repair.artifact' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.repair.state' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.repair.cost' %> </div> </th>
        <th scope="col"> <div class="text-center"> <%= t 'activerecord.attributes.repair.created_at' %> </div> </th>
        <th scope="col" colspan="2"> <div class="text-center"> <%= t 'view.index.actions' %> </div> </th>
      </tr>
    </thead>

    <tbody>
      <% @repairs.each do |repair| %>
        <tr align="center">
          <td> <div class="text-center font-weight-bold"> <%= repair.code %> </div> </td>
          <td> <div class="text-center"> <%= link_to repair.customer.name, edit_customer_path(repair.customer) %> </div> </td>
          <td> <div class="text-center"> <%= link_to "#{repair.artifact.name}, #{repair.artifact.model}", edit_artifact_path(repair.artifact.id) %> </div> </td>

          <td>
             <% if repair.state == 'PENDIENTE' %>
                <div class="text-center font-weight-bold" style="color: #ff6c00;"> <%= repair.state %> </div>
              <% else %>
                <div class="text-center font-weight-bold" style="color: green;"> <%= repair.state %> </div>
              <% end %>
          </td>

          <td> <div class="text-center"> <%= number_to_currency(repair.cost) %> </div> </td>
          <td> <div class="text-center"> <%= l(repair.created_at, format: "%d-%m-%Y") %> </div> </td>

          <td style="border-right:0; width: 8%;">

          <a class="btn btn-outline-info" title="Ver Revisiones" href="<%= repair_revisions_path(repair) %>">
              <i class="fas fa-calendar-alt"></i>
              </span>
            </a>
          </td>

          <td style="border-left:0; width: 8%;">
           <a class="btn btn-outline-warning" title="Editar" href="<%= edit_repair_path(repair) %>">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @repairs, theme: 'twitter-bootstrap-4', pagination_class: 'pagination-md justify-content-center' %>
<% end %>
