<div class="text-center mt-5">
  <i class="far fa-frown fa-10x"></i>
</div>

<h1 class="text-center mt-5"> <%= t 'repairs.not_found.title', code: code %> </h1>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 border mr-3 ml-3 mb-5 mt-5 pt-2 pb-3">
    <h3 class="text-center mt-3"> <%= t 'repairs.not_found.try_other' %> </h3>

    <%= render 'home/repair_query_form' %>
  </div>
</div>

<div class="text-center ml-4 pl-3 mb-3">
  <a class="btn btn-outline-dark" href="<%= root_path %>">
    <span> <%= (t 'repairs.show.exit') %> </span>
  </a>
</div>