<h2 class="text-center mt-5"> <%= t 'repairs.show.title', customer: @repair.customer.name, artifact: @repair.artifact.name %> </h2>
<h1 class="text-center mt-5"> PENDIENTE </h1>

<div class="text-center mt-5">
  <p><%= t 'repairs.show.last_revision_date' %> <%= Date.today %> </p>
  <p><%= t 'repairs.show.estimated_date' %> <%= Date.today %> </p>
</div>

<div class="text-center mt-5">
  <a class="btn btn-outline-dark" href="<%= root_path %>">
    <span> <%= (t 'repairs.show.exit') %> </span>
    <i class="fas fa-sign-out-alt fa-lg pl-2"></i>
  </a>
</div>