<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <span class="pl-2">
      <i class="fas fa-wrench"></i>
      <span class="ml-1">Repair Tracking</span>
    </span>
  </a>

  <div class="collapse navbar-collapse">
  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to 'Clientes', customers_path, class: 'nav-link mt-2' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Artefactos', artifacts_path, class: 'nav-link mt-2' %>
      </li>
    </ul>
      <span>
        <div class="navbar-text mr-2">
          <%= t 'navigation.welcome', email: current_user.email %>
        </div>

        <logout-button
          logout-url="<%= destroy_user_session_path %>"
          redirect-url="<%= root_path %>"
        >
        </logout-button>
      </span>
    <% end %>
  </div>
</nav>